.footer-container {
  height: 81px;
  width: auto;
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.54);
}

.top-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 42px;
  border: 1px solid rgb(228, 228, 228);
}

.footer-country {
  padding-left: 27px;
  font-size: 15px;
}

a {
  color: #5f6368;
}
.bottom-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 39px;
  border: 1px solid #f0f0f0;
  font-size: 13px;
}

.top-footer,
.bottom-footer {
  background-color: #f2f2f2;
}

.left-footer-side {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-footer-side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-footer-link {
  padding-left: 27px;
  text-decoration: none;
}

.right-footer-link {
  padding-right: 27px;
  text-decoration: none;
}
